##Projeto Final: Computação em Nuvem



* **Aluno: Thiago Brito de Andrade Tenório**
* **Turma: Dados-2023.1**


Obs: Este Notebook tem como objetivo unir as bases de dados disponibilizadas e fazer os tratamentos necessário

Base 1:
https://drive.google.com/file/d/1gLsCjaMrL91ECdThq58cZAzB9tPxG18g/view?usp=sharing

Base 2: https://drive.google.com/file/d/1C_T1w8fc7Oa8MeTo4LMTEcv90IfEOS-6/view?usp=sharing

## Library Imports & Configs

In [8]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Importação das Bases de Dados

In [9]:
#Foi feito o UpLoad dos aruqivos .CSV utilizados no problema (movies.csv, customers_rating.csv)

#Ler o arquivo CSV
movies_db = pd.read_csv('drive/MyDrive/Data/Project_Cloud_Cesar/movies.csv', header=None, sep=';', names= ['Movie_Id', 'Movie_Name'])

# Substituo o caracter ',' pois ao salvar o novo Arquivo, usarei esse caracter como separador dos campos
movies_db['Movie_Name'] = movies_db['Movie_Name'].str.replace(',', ' -')

rating_db = pd.read_csv('drive/MyDrive/Data/Project_Cloud_Cesar/customers_rating.csv', sep=';')
rating_db.dropna(subset=['Movie_Id'], inplace=True)
rating_db['Movie_Id'] = rating_db['Movie_Id'].astype(int)

## Executando merge de dados

In [10]:
movies_rating_db = pd.merge(movies_db, rating_db, on='Movie_Id', how='inner')

In [11]:
len(movies_rating_db)

24053764

In [12]:
movies_rating_db.dtypes

Movie_Id        int64
Movie_Name     object
Cust_Id         int64
Rating        float64
Date           object
dtype: object

In [13]:
movies_rating_db.head(10)

   Movie_Id                Movie_Name  Cust_Id  Rating        Date
0         1  (Dinosaur Planet - 2003)  1488844     3.0  2005-09-06
1         1  (Dinosaur Planet - 2003)   822109     5.0  2005-05-13
2         1  (Dinosaur Planet - 2003)   885013     4.0  2005-10-19
3         1  (Dinosaur Planet - 2003)    30878     4.0  2005-12-26
4         1  (Dinosaur Planet - 2003)   823519     3.0  2004-05-03
5         1  (Dinosaur Planet - 2003)   893988     3.0  2005-11-17
6         1  (Dinosaur Planet - 2003)   124105     4.0  2004-08-05
7         1  (Dinosaur Planet - 2003)  1248029     3.0  2004-04-22
8         1  (Dinosaur Planet - 2003)  1842128     4.0  2004-05-09
9         1  (Dinosaur Planet - 2003)  2238063     3.0  2005-05-11

In [ ]:
# Salvar o DataFrame mesclado como um arquivo CSV no Googlo Drive
movies_rating_db.to_csv('drive/MyDrive/Data/Project_Cloud_Cesar/movies_ratings.csv', sep=',', index=False)